/*  ROOT  */

* {
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
    margin: 0;
    padding: 0;
}

/*  HEADER  */

header {
    background-color: #FDF1EC;
    min-height: 880px;
    width: auto;
    display: flex;
}
.zdjecie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding-bottom: 100px;
    width: 50%;
}
.pusty {
    height: 100px;
}
.zdjecie img {
    border-radius: 20px;
    display: inline-block;
    height: auto;
    width: 60%; /* Jeśli ustawiamy konkretne px w zjdęciu, to blokujemy możliwość dostosowania rozmiaru przez przeglądarkę. W @media powinniśmy zmienić to na np. wartość procentową. */
    -webkit-box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 0.69);
    -moz-box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 0.69);
    box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 0.69);
}
.opis-wrap {
    height: auto;
    width: 50%;
}
.imie {
    font-size: 70px;
    letter-spacing: 0.5px;
    padding-top: 150px;
    padding-right: 50px;
}
.opis {
    font-size: 30px;
    padding: 90px 150px 50px 50px;
    text-align: justify;
}

/*  SEKCJA-1  */

.sekcja-1 {
    background-color: #F7D5D0;
    height: auto;
    width: auto;
}
.grafiki {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 100px;
    row-gap: 50px;
}
.grafiki img {
    border-radius: 10px;
    max-height: 300px;
    opacity: 0.7;
    transition: all 0.2s ease-in-out 0s;
}
.grafiki img:hover {
    border: 1px solid rgb(38, 93, 9);
    opacity: 1;
    transform: scale(1.5);
    z-index: 1;
}

/*  SEKCJA-2  */

.sekcja-2 {
    background-color: #FDF1EC;
    height: 600px;
    width: auto;
}

/*  SEKCJA-3  */

.sekcja-3 {
    background-color: #F7E4E2;
    height: 600px;
    width: auto;
}

/*  FOOTER  */

footer {
    background-color: #FDF1EC;
    height: 200px;
    width: auto;
}

/*  @MEDIA  */
@media screen and (min-width: 901px) and (max-width: 1230px) {
    .grafiki {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
    .grafiki {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 481px) and (max-width: 1019px) {
    header {
        flex-direction: column;
    }
    .pusty {
        height: 50px;
    }
    .zdjecie {
        padding: 0;
        width: auto;
    }
    .zdjecie img {
        width: 40%;
    }
    .opis-wrap {
        width: 100%;
    }
    .imie {
        align-items: center;
        font-size: 50px;
        padding: 50px;
        padding-top: 30px;
        margin-right: 0px;
        text-align: center;
        width: auto;
    }
    .grafiki {
        padding: 60px 60px;
    }
    .grafiki img {
        max-width: 90%;
    }
    .opis {
        padding: 10px 25px 50px 25px;
    }
}
@media screen and (max-width: 480px){
    header {
        flex-direction: column;
    }
    .pusty {
        height: 30px;
    }
    .zdjecie {
        padding: 0;
        width: auto;
    }
    .zdjecie img {
        width: 80%;
    }
    .opis-wrap {
        width: 100%;
    }
    .imie {
        align-items: center;
        font-size: 50px;
        padding: 50px;
        padding-top: 30px;
        margin-right: 0px;
        text-align: center;
        width: auto;
    }
    .grafiki {
        padding: 60px 60px;
        grid-template-columns: 1fr;
    }
    .grafiki img {
        max-width: 90%;
    }
    .opis {
        padding: 10px 25px 50px 25px;
    }
}