/*  ROOT  */

* {
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
    margin: 0;
    padding: 0;
}

/*  HEADER  */

header {
    background-color: #FDF1EC;
    height: auto;
    width: auto;
    display: flex;
}
.zdjecie {
    height: auto;
    padding: 100px;
    width: 50%;
}
.zdjecie img {
    border-radius: 20px;
    display: inline-block;
    height: auto;
    max-width: 411px; /* Jeśli ustawiamy konkretne px w zjdęciu, to blokujemy możliwość dostosowania rozmiaru przez przeglądarkę. W @media powinniśmy zmienić to na np. wartość procentową. */
    -webkit-box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 0.69);
    -moz-box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 0.69);
    box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 0.69);
}
.opis-wrap {
    height: auto;
    width: 50%;
}
.imie {
    font-size: 70px;
    letter-spacing: 0.5px;
    padding-top: 150px;
}
.opis {
}

/*  SEKCJA-1  */

.sekcja-1 {
    background-color: #F7D5D0;
    height: auto;
    width: auto;
}
.grafiki {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 100px;
    row-gap: 50px;
}
.grafiki img {
    border-radius: 10px;
    max-height: 300px;
    opacity: 0.7;
    transition: all 0.2s ease-in-out 0s;
}
.grafiki img:hover {
    border: 1px solid rgb(38, 93, 9);
    opacity: 1;
    transform: scale(1.5);
    z-index: 1;
}

/*  SEKCJA-2  */

.sekcja-2 {
    background-color: #FDF1EC;
    height: 600px;
    width: auto;
}

/*  SEKCJA-3  */

.sekcja-3 {
    background-color: #F7E4E2;
    height: 600px;
    width: auto;
}

/*  FOOTER  */

footer {
    background-color: #FDF1EC;
    height: 200px;
    width: auto;
}

/*  @MEDIA  */

@media screen and (max-width: 480px){
    header {
        flex-direction: column;
    }
    .zdjecie {
        display: flex;
        justify-content: center;
        padding: 0;
        padding-top: 50px;
        width: auto;
    }
    .zdjecie img {
        max-width: 80%;
    }
    .opis-wrap {
        width: 100%;
    }
    .imie {
        align-items: center;
        font-size: 50px;
        padding: 50px;
        padding-top: 30px;
        text-align: center;
        width: auto;
    }
    .grafiki {
        padding: 60px 60px;
        grid-template-columns: 1fr;
    }
    .grafiki img {
        max-width: 90%;
    }
}